asn1crypto==0.24.0
backports-abc==0.5
backports.csv==1.0.7
backports.functools-lru-cache==1.6.1
beautifulsoup4==4.8.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Cheetah==2.4.4
cli-helpers==1.2.1
Click==7.0
configobj==5.0.6
cryptography==2.8
dj-database-url==0.5.0
Django==1.11.26
django-heroku==0.3.1
enum34==1.1.10
ez-setup==0.9
future==0.18.2
futures==3.3.0
gkeepapi==0.11.13
gpsoauth==0.4.1
gunicorn==19.9.0
gyp==0.1
humanize==0.5.1
idna==2.9
ipaddress==1.0.23
keyring==10.6.0
keyrings.alt==3.0
libvirt-python==4.0.0
logging==0.4.9.6
numpy==1.13.3
pbr==5.4.3
pgcli==2.1.1
pgspecial==1.11.7
prompt-toolkit==2.0.10
psycopg2==2.8.4
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycryptodomex==3.9.7
pygame==1.9.6
Pygments==2.4.2
pygobject==3.26.1
python-telegram-bot==12.2.0
pytz==2019.3
pyxdg==0.25
requests==2.23.0
SecretStorage==2.3.1
setproctitle==1.1.10
singledispatch==3.4.0.3
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
stevedore==1.31.0
tabulate==0.8.5
terminaltables==3.1.0
tornado==5.1.1
urllib3==1.25.8
virtualenv==16.7.7
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
wcwidth==0.1.7
whitenoise==4.1.4
